<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aitest.web.mapper.CategoryMapper"> 
	<select id="getAllCategory" resultType="com.aitest.web.entity.CategoryEntity">  
        <![CDATA[  
            SELECT * from demoweb_category
        ]]>    
    </select>
    
    <select id="getCategoryById" parameterType="String" resultType="com.aitest.web.entity.CategoryEntity">  
        <![CDATA[  
            SELECT * from demoweb_category where categoryid = #{categoryId,jdbcType=VARCHAR}
        ]]>    
    </select>
</mapper>
